<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Danh sách nhân viên</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../public/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    </head>
    <body>
        <div class="container">
            <h1 class="container__title">Danh sách nhân viên</h1>
            <form action="/users" class="form__search" method="GET" enctype="multipart/form-data">
                <input type="text" class="form__search-input" />
                <button class="form__btn">Search</button>
                <a href="/users/create" class="form__link">Create</a>
            </form>
            <table class="container__table table">
                <tr class="container__table-row">
                    <th>Avatar</th>
                    <th>Full name</th>
                    <th>Phone</th>
                </tr>
                <tr class="container__table-row">
                    <td><img src="#" alt="Minh Đức avatar" width="32px" height="32px"></td>
                    <td>Kim Minh Đức</td>
                    <td>0968188999</td>
                </tr>
            </table>
        </div>
    </body>
</html>